/*cala strona*/
.dym {
    color: blue;
    cursor: pointer;
}

.dym>img {
    display: none;
    width: 124px;
    height: 144px;
    margin-top: -148px;
    margin-left: -10px;
    position: absolute;
    background-color: aliceblue;
    border: 5px solid white;
    border-radius: 28px;
    z-index: 12;
}

.dym:hover>img {
    display: inline
}
a {
text-decoration: none;  
}
body {
    background-color: rgb(12, 220, 81);
    margin: 0;
    background-image: url(obrazy/tlo.png);
    background-size: cover;
}

#wszystko {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    font-size:28px;
}

fieldset {
    font-size: 24px;
    margin-top:28px;
    position:relative;
}

hr {
    margin: 0;
}

legend {
    padding: 0;
    width:0;
}

/* gora */
#gora {
    position: fixed;
    width: 100%;
    background: blue;
    padding: 6px;
    z-index: 12;
    top: 0px;
    left: 0px;
}

.tytul {
    color: lime;
    font-size: 28px;
    font-family: fantasy;
}

#menu {
    position: relative;
    width: 80%;
    height: 48px;
    background: rgb(23, 23, 208);
    border-radius: 88px;
    margin-left: auto;
    margin-right: auto;
}

.opcja {
    position: relative;
    background: rgb(65, 15, 229);
    height: 80%;
    width: 22%;
    cursor: pointer;
    left: 20px;
    top: 4px;
    border: 4px solid rgb(38, 123, 207);
    color: rgb(7, 233, 7);
    font-weight: 888;
    font-size: 16px;
}

.opcja:hover {
    opacity: 0.8;
}

.powitanie {
    position: relative;
    font-weight: 600;
    background-color: rgb(179, 0, 255);
    padding: 2px;
    min-height: 100px;
    max-height: 240px;
    width: 100%;
    font-size: 28px;
    padding: 24px;
    border: 3px solid orange;
}

.powitanie img {
    position: relative;
    float: left;
    height: 144px;
    width: 25%;
    padding: 10px;
    border-right: 4px solid green;
    top: -20px;
}

#poznajgatunki {
    position: relative;
    margin-top: 80px;
    background: rgb(11, 219, 45);
    width: 66%;
    float: left;
}

#atlas {
    position: relative;
    width: 100%;
    height: 180px;
}

#atlas img {
    position: relative;
    float: left;
    height: 88px;
    width: 88px;
}

.dzial {
    position: relative;
    background-color: blue;
    font-size: 48px;
    color: orange;
    font-weight: 800;
    padding: 28px;

}

.poczotekwedk {
    position: relative;
    z-index: 8;
    margin-top: 28px;
    background: yellow;
    font-size: 28px;
}

.karta {
    margin-top: 48px;
    background: rgb(3, 252, 3);
}

/*tabela*/
table {
    position: relative;
    width: 100%;
    text-align: center;
}

.gatunekwym {
    background: blue;
}

.wymiar {
    background: yellow;
}

.okres {
    background: green;
}
.przyneta {
    background:orange;
}
/*tabela*/

#metody {
    background-color: white;
    border:3px solid silver;
}

/*metody*/
.metoda {
    float: left;
    width: 32%;
    border: 3px solid silver;
    text-align: center;
    cursor: pointer;
    background-color: beige;
}

.metoda:hover {
    transform: scale(1.2);
}

.metod {
    position: relative;
    font-family: fantasy;
    background-color: rgb(10, 62, 252);
    font-size: 68px;
}

.metoda img {
    position: relative;
    width: 248px;
    height: 248px;
}
/*metody*/

.ciekawostka {
    position: relative;
    background-color: yellow;
    width: 25%;
    font-size: 48px;
    border: 2px solid black;
    float: right;
    margin-top: 100px;
}

.tytulciekaw {
    color: red;
    background: rgb(250, 144, 5);
    font-family: cursive;
}